@import "normalize.css";
@import "base/_mixins";
@import "base/_variables";
@import "base/_global";
@import "modules/_btn";
@import "modules/_large-hero";
@import "modules/_wrapper";
@import "modules/_page-section";
@import "modules/_headline";
@import "modules/_row";
@import "modules/_generic-typography";
@import "modules/_section-title";
@import "modules/_feature-item";
@import "modules/_testimonial";
@import "modules/_sprite";
@import "modules/_footer";
@import "modules/_header";
@import "modules/_primary-nav";
@import "modules/_modal";
@import "modules/_social-icons";
@import "modules/_reveal-item";
/*

$blue : #FC3;
body{
    color: red;
}
h1{
    color: aqua;
    padding: 5px;
}
.box{
    align-content: center;
    left: auto;
    content: inherit;
    .box-item{
        top: inherit;
        padding: 20px;
    }
}

@keyframes
from{
    columns:checked;
    color:$blue;
}
to{
    column-count: 9;
}
*/





